<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Build Version</key>
	<string>12D508</string>
	<key>Device Name</key>
	<string>黄天翼的 iPad</string>
	<key>Display Name</key>
	<string>黄天翼的 iPad</string>
	<key>GUID</key>
	<string>---</string>
	<key>Last Backup Date</key>
	<date>2046-06-12T08:58:55Z</date>
	<key>Product Type</key>
	<string>iPad3,4</string>
	<key>Product Version</key>
	<string>8.2</string>
	<key>Serial Number</key>
	<string>DLXJL9GHF187</string>
	<key>Target Identifier</key>
	<string>b69fb330a93f15e4ae575b0eba794140d5f05e66</string>
	<key>Target Type</key>
	<string>Device</string>
	<key>Unique Identifier</key>
	<string>B69FB330A93F15E4AE575B0EBA794140D5F05E66</string>
	<key>iBooks Data 2</key>
	<data>
	YnBsaXN0MDDSAQIDiVMxLjJfEBNDb2xsZWN0aW9uc0RhdGEtMS4y0gQFBohaQktCb29r
	bWFya18QFUJLQm9va21hcmstR2VuZXJhdGlvbq4HHycvNz9HT1dfaHB4gN4ICQoLDA0O
	DxAREhMUFRYXGBkaGxwbHBsbGx0eXxAWYW5ub3RhdGlvbkNyZWF0aW9uRGF0ZV8QGmFu
	bm90YXRpb25Nb2RpZmljYXRpb25EYXRlXmFubm90YXRpb25VdWlkXxARYW5ub3RhdGlv
	bkFzc2V0SURfEBthbm5vdGF0aW9uQ3JlYXRvcklkZW50aWZpZXJfEBFhbm5vdGF0aW9u
	RGVsZXRlZF5hbm5vdGF0aW9uVHlwZV8QFHBsTG9jYXRpb25SYW5nZVN0YXJ0XxAPYW5u
	b3RhdGlvblN0eWxlXxAVYW5ub3RhdGlvbklzVW5kZXJsaW5lXxAScGxMb2NhdGlvblJh
	bmdlRW5kXxAacGxBYnNvbHV0ZVBoeXNpY2FsTG9jYXRpb25acGxVc2VyRGF0YV8QD2Z1
	dHVyZVByb29maW5nNhJRgmJXElGCYldfECRENjk3RkIwNy1CNjA1LTQ5QzYtQjU0Qy01
	MjM3Q0NDRkNGMjNfECAxN0I1MjUwODZERDNGNzQzMTA0NUIzOEVBRTFBRUE3Rl8QEGNv
	bX5hcHBsZX5pQm9va3MQABADTxB7YnBsaXN0MDDTAQIDBAgJVXN1cGVyVWNsYXNzWnBh
	Z2VPZmZzZXTSBQIGB1dvcmRpbmFsEABaQktMb2NhdGlvbl5CS1BhZ2VMb2NhdGlvbhAE
	CA8VGyYrMzVATwAAAAAAAAEBAAAAAAAAAAoAAAAAAAAAAAAAAAAAAABRXxAQMzg5MTky
	MTUxLjAwMDAwMN4ICQoLDA0ODxAREhMUFSAhIiMkGxwbHBsbGyUmElIKOjoSUgo6Ol8Q
	JDA3RjIzODFDLUE2MkEtNEZCQS05NUE1LUM2QzE1RTZDRUFFRl8QIDAyMjgwMEZCQTAx
	NEJFRTNDMTMzOTg4N0NBNzRGMzVEXxAQY29tfmFwcGxlfmlCb29rc08Qe2JwbGlzdDAw
	0wECAwQICVVzdXBlclVjbGFzc1pwYWdlT2Zmc2V00gUCBgdXb3JkaW5hbBAAWkJLTG9j
	YXRpb25eQktQYWdlTG9jYXRpb24QCQgPFRsmKzM1QE8AAAAAAAABAQAAAAAAAAAKAAAA
	AAAAAAAAAAAAAAAAUV8QEDM5ODA5NDc3OC4wMDAwMDDeCAkKCwwNDg8QERITFBUoKSor
	LBscGxwbGxstLhJRgoHyElGCgfJfECQ2MzcyNjAwNS1EQjNFLTQ5RTktQkUwQS02NzdF
	NUQzRTQ5NUNfECA3QjE2OEFENEFGQUE1OUYzNDIxRjVENEI4MkM4NTM0OV8QEGNvbX5h
	cHBsZX5pQm9va3NPEHhicGxpc3QwMNMBAgMECAZVc3VwZXJVY2xhc3NacGFnZU9mZnNl
	dNIFAgYHV29yZGluYWwQAFpCS0xvY2F0aW9uXkJLUGFnZUxvY2F0aW9uCA8VGyYrMzVA
	AAAAAAAAAQEAAAAAAAAACQAAAAAAAAAAAAAAAAAAAE9fEBAzODkyMDAyNDIuMDAwMDAw
	3ggJCgsMDQ4PEBESExQVMDEyMzQbHBscGxsbNTYSVQN2dxJVA3Z3XxAkN0QxQUUyNjEt
	Q0Q0MC00QTdBLUEwRUMtQTAxQjYyMjlGRUVDXxAgNDFDMEFDREJFNzdFNjRFMjE0MEU1
	N0I3N0NBODlGQkZfEBBjb21+YXBwbGV+aUJvb2tzTxB7YnBsaXN0MDDTAQIDBAgJVXN1
	cGVyVWNsYXNzWnBhZ2VPZmZzZXTSBQIGB1dvcmRpbmFsEABaQktMb2NhdGlvbl5CS1Bh
	Z2VMb2NhdGlvbhAFCA8VGyYrMzVATwAAAAAAAAEBAAAAAAAAAAoAAAAAAAAAAAAAAAAA
	AABRXxAQNDQ3OTgzMDk1Ljg0ODYzMd4ICQoLDA0ODxAREhMUFTg5Ojs8GxwbHBsbGz0+
	ElF7qFASUXuoUF8QJDlERkRFNDk3LUU4MEEtNEIwOS05ODk3LUE4RENCOUE3QTFBMF8Q
	IDk4OTg5NTU3Q0RGQkQyQjJEMjE1QUZBREQ5MkY0OEY3XxAQY29tfmFwcGxlfmlCb29r
	c08Qe2JwbGlzdDAw0wECAwQICVVzdXBlclVjbGFzc1pwYWdlT2Zmc2V00gUCBgdXb3Jk
	aW5hbBAAWkJLTG9jYXRpb25eQktQYWdlTG9jYXRpb24QHQgPFRsmKzM1QE8AAAAAAAAB
	AQAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAUV8QEDM4ODc1MTMxMi4wMDAwMDDeCAkKCwwN
	Dg8QERITFBVAQUJDRBscGxwbGxtFRhJRgl8KElGCXwpfECQ4ODA3OTQzNi1CQTExLTRD
	RjYtQjM3RS1EN0Y4OUI0MzhFN0ZfECA3NzU0MkNCMjRGQzk0QTc4RjM2QzBENjQyQjkz
	RUMzQ18QEGNvbX5hcHBsZX5pQm9va3NPEHticGxpc3QwMNMBAgMECAlVc3VwZXJVY2xh
	c3NacGFnZU9mZnNldNIFAgYHV29yZGluYWwQAFpCS0xvY2F0aW9uXkJLUGFnZUxvY2F0
	aW9uEAMIDxUbJiszNUBPAAAAAAAAAQEAAAAAAAAACgAAAAAAAAAAAAAAAAAAAFFfEBAz
	ODkxOTEzMDYuMDAwMDAw3ggJCgsMDQ4PEBESExQVSElKS0wbHBscGxsbTU4SUYJfbRJR
	gl9tXxAkMEUwRTQyNzctQjM5OS00MDdBLUFFMkQtQzQ4NjE2MjhCQkNCXxAgQzlBRDNF
	QkVGOTk4NkQ1RDcwMUVFMEE3OTc4RDU5NzNfEBBjb21+YXBwbGV+aUJvb2tzTxB7YnBs
	aXN0MDDTAQIDBAgJVXN1cGVyVWNsYXNzWnBhZ2VPZmZzZXTSBQIGB1dvcmRpbmFsEABa
	QktMb2NhdGlvbl5CS1BhZ2VMb2NhdGlvbhAECA8VGyYrMzVATwAAAAAAAAEBAAAAAAAA
	AAoAAAAAAAAAAAAAAAAAAABRXxAQMzg5MTkxNDA1LjAwMDAwMN4ICQoLDA0ODxAREhMU
	FVBRUlNUGxwbHBsbG1VWElF3ZaUSUXdlpV8QJEU5NDc4MUYxLTc0QkUtNDBBMS04RjU0
	LTFBODVEMEQwMTkwMV8QIDlCMzhEQkQ5OEQ4OTdEQUY3QzY3RkFCMDNFMzg2MTczXxAQ
	Y29tfmFwcGxlfmlCb29rc08Qe2JwbGlzdDAw0wECAwQICVVzdXBlclVjbGFzc1pwYWdl
	T2Zmc2V00gUCBgdXb3JkaW5hbBAAWkJLTG9jYXRpb25eQktQYWdlTG9jYXRpb24QFQgP
	FRsmKzM1QE8AAAAAAAABAQAAAAAAAAAKAAAAAAAAAAAAAAAAAAAAUV8QEDM4ODQ3MjEw
	MS4wMDAwMDDeCAkKCwwNDg8QERITFBVYWVpbXBscGxwbGxtdXhJRgl8xElGCXzFfECRG
	MzU1OUE3QS04Rjc1LTRGMUUtOENGMi1ERTlCM0QwRjQxNUVfECA4MTlERTM0NjU1NkU5
	MTJGMDJEOEU3MTNGNDgyMTYzMV8QEGNvbX5hcHBsZX5pQm9va3NPEHticGxpc3QwMNMB
	AgMECAlVc3VwZXJVY2xhc3NacGFnZU9mZnNldNIFAgYHV29yZGluYWwQAFpCS0xvY2F0
	aW9uXkJLUGFnZUxvY2F0aW9uEAMIDxUbJiszNUBPAAAAAAAAAQEAAAAAAAAACgAAAAAA
	AAAAAAAAAAAAAFFfEBAzODkxOTEzNDUuMDAwMDAw3ggJCgsMDQ4PEBESExQVYGFiY2Qb
	HGUcGxsbZmcSUjYlFhJSNiUWXxAkNEQ3NEZDNDYtNzYxQS00M0ZELUI3NzItREYzQzg5
	RTdCRDNCWTU3NDIzMjY0MF8QEGNvbX5hcHBsZX5pQm9va3MQbk8Q4mJwbGlzdDAw1gEC
	AwQFBgcIDBQYGVllbmRPZmZzZXRVc3VwZXJZc3RhcnRQYXRoV2VuZFBhdGhVY2xhc3Nb
	c3RhcnRPZmZzZXQiQywAANIJBQoLV29yZGluYWwQblpCS0xvY2F0aW9uog0S0g4PEBFV
	aW5kZXhXdGFnTmFtZRASUXDRDhMQAaIVF9IODxYREBLRDhNeQktFcHViTG9jYXRpb24i
	QywAAAgVHyUvNz1JTlNbXWhrcHZ+gIKFh4qPkZSjAAAAAAAAAQEAAAAAAAAAGgAAAAAA
	AAAAAAAAAAAAAKhfEBA0MDA5NzI5NTAuMDAwMDAw3ggJCgsMDQ4PEBESExQVaWprbG0b
	HBscGxsbbm8SUYJfQhJRgl9CXxAkOUFBNzhDRTMtOEUxQi00NDBBLUIyNkMtQjQ0RjQ0
	Njc2MDUzXxAgNURFNjgwMUU5NjE3RDUxQTBCMTBGMEE3REQwMjcwQUNfEBBjb21+YXBw
	bGV+aUJvb2tzTxB7YnBsaXN0MDDTAQIDBAgJVXN1cGVyVWNsYXNzWnBhZ2VPZmZzZXTS
	BQIGB1dvcmRpbmFsEABaQktMb2NhdGlvbl5CS1BhZ2VMb2NhdGlvbhAOCA8VGyYrMzVA
	TwAAAAAAAAEBAAAAAAAAAAoAAAAAAAAAAAAAAAAAAABRXxAQMzg5MTkxMzYyLjAwMDAw
	MN4ICQoLDA0ODxAREhMUFXFyc3R1GxwbHBsbG3Z3ElGCXyQSUYJfJF8QJEI1N0ZCNEJB
	LTRFQ0UtNEZGNC04REU1LTZEN0U1OUMyRjVDRl8QIDc2MTU0NjA2MDhCOEJDQkJFQ0Iy
	M0FFMkVERDE2MjEwXxAQY29tfmFwcGxlfmlCb29rc08QeGJwbGlzdDAw0wECAwQIBlVz
	dXBlclVjbGFzc1pwYWdlT2Zmc2V00gUCBgdXb3JkaW5hbBAAWkJLTG9jYXRpb25eQktQ
	YWdlTG9jYXRpb24IDxUbJiszNUAAAAAAAAABAQAAAAAAAAAJAAAAAAAAAAAAAAAAAAAA
	T18QEDM4OTE5MTMzMi4wMDAwMDDeCAkKCwwNDg8QERITFBV5ent8fRscGxwbGxt+fxJS
	O6D9ElI7oP1fECRGMTU2RUQwOS03MzMwLTRBRjktOThENy0xN0ZBRDdBMDFGNzZfECAz
	QzI2OEE0QjM4NTc5NjVFOTE1QTY0NkQ4RjQwRUNBMV8QEGNvbX5hcHBsZX5pQm9va3NP
	EHticGxpc3QwMNMBAgMECAlVc3VwZXJVY2xhc3NacGFnZU9mZnNldNIFAgYHV29yZGlu
	YWwQAFpCS0xvY2F0aW9uXkJLUGFnZUxvY2F0aW9uEAIIDxUbJiszNUBPAAAAAAAAAQEA
	AAAAAAAACgAAAAAAAAAAAAAAAAAAAFFfEBA0MDEzMzIzNDkuMTQ5MTUx3ggJCgsMDQ4P
	EBESExQVgYKDhIUbHBscGxsbhocSUkAX7RJSQBftXxAkNjRENEJCRDItQzQ5My00NUM4
	LTkzODAtQzc2NTg4RTQ0QTU1XxAgMkI0MTM2RjgyMzBENkE5NzRFRURFQzNCQ0IxQTdB
	NTFfEBBjb21+YXBwbGV+aUJvb2tzTxB7YnBsaXN0MDDTAQIDBAgJVXN1cGVyVWNsYXNz
	WnBhZ2VPZmZzZXTSBQIGB1dvcmRpbmFsEABaQktMb2NhdGlvbl5CS1BhZ2VMb2NhdGlv
	bhBMCA8VGyYrMzVATwAAAAAAAAEBAAAAAAAAAAoAAAAAAAAAAAAAAAAAAABRXxAQNDAx
	NjI0OTQxLjA5ODI1MxJVA3Z30oqLjI1fEA9yb2xsaW5nX3ZlcnNpb25cQktDb2xsZWN0
	aW9uECyijsrVj5CRkpOUlZaXyVV0aXRsZV8QGmxhc3RNb2RpZmljYXRpb25fU2luY2Ux
	OTcwV3NvcnRLZXlcZGF0YWJhc2VLZXlzXxASc2VydmVyU3luY1VuaXF1ZUlkYlb+TmYS
	VIr6sRP//////////68QMZiZmpucnZ6foKGio6SlpqeoqaqrrK2ur7CxsrO0tba3uLm6
	u7y9vr/AwcLDxMXGx8hZMzk1OTQwNTgzWTUwMDAzMzYxMlk1MTEyMzI3MzhZMzYxNTQx
	NTQwWTQ5MjM2MzU5MFkzOTI2MTM2NDNZMzk1NTM4MDg4WTM2MTcyMTgyM1k1NzQyMzI2
	NDBZNTEwOTE1MDkwWTQ5OTc5OTkxOFk0OTY3ODI2OTJZNTExMTI5NTU0WTM2MTU2MjMw
	OVk1MTAzMjIxMzVZNDkyMjkyMTYyWTM5NTUzNDY0M1kzOTU1MzYzMDZZNTEwOTA5MzEx
	WTM5NTU0NjAyN1kzOTI2MTQwNTBZNTEwOTg2NjYxWTM5NTY4NzYzOFkzOTU1NDc2OTVZ
	NTMwNDE1NjUwXxAgRDM2RDEzNDM4NkMxMzIzNDAxREQ1RUQyM0JCQzM3Q0RfECBBQUY1
	QzZFRjU0MzY4QjkyMEI2OTJDOTlERjM2NThCRl8QIEYwNTQ4QjA4NzYyQzhDODAxNTZE
	NTY4QkUwN0I5N0VEXxAgQzkzNDM0RTExNUM1NDU1MjI1OUQ0NjVFODFCQkE2NzhfECBB
	MjJFRDFGMjgwN0RCRTc0RTkxNTBEODBEQzFGNDYyMl8QIDg3NkY2QUMzRTYyNDM1QjMx
	ODY3MTQzMzM3NkM2NzVDXxAgRjU3MjMwMzQzRTNCNDU2RjJERjNCRTYxQTE4QTlBOTNf
	ECA5NUQ1QkI2NzRBQThDQjhDQjgxMTRFREZFMTVEMkNDRl8QIDg5NUU3NUMxNjc4OUVC
	NDdGREY0NkFFQkYxRDQ2OTlFXxAgODg4QTVCOUVDRUMzQTYwNTNBNjVCRDYxNUVGN0Y5
	NzRfECAzMkY4RkE3OTFBMzc1NzBGMkM2NDM1NjU1ODQwNjVDOV8QIDQ3NjVGMzQwMzEw
	NDkzMDJBMkM0N0NBNjBFQ0FGN0JBXxAgMjJCMUEzQTU1QzJBNjk4MzA4MUVDOEM0QzdD
	NEY4OTRfECA1Q0MzQUQ1RkFCMzcwMkRENEFGMjJFNkQxNjlEQkU1Q18QIDc5MkVGOUZE
	OTMwMjBBRDcyMjQyREIyRjZCQUI0NDhBXxAgRUM4RDRFRjgzMEUyMkM4MjBFMTg3NERD
	OEJBNEJCODZfECBGRDBDNzVGNzhGNjg5QkQ3RjlDN0U3NTlFMTUxOEFEOV8QIEFCMTBC
	Qzk1RTAyMkVEQjg1QjlCNEExQzkxQkQzMjNGXxAgMUVENzFCMDdBNkNGMEVBQzA4RUY1
	RTJBQzdFQ0QyQ0RfECBFN0M3MkY4ODQ2QTA2NEQ1NEI2Qzc4Njg3MUYyMUQ3OF8QIDYz
	RUQ0OUYzN0IxRjA5MDQ3Qjc1NEZEODg1M0FDQjJDXxAgRjdBMERBQzhERjg5NThGODQ2
	MkZDMTY2MkQwRDY3M0ZfECAyMDQxNTQ2RjYyMUUwOEE2M0U5MjAxQkQwRjU0MEQxQl8Q
	IDNFMTRFMjgwNzUzRTBGODFDNDFDRTIxNkU0ODlFOTU1XxATQm9va3NfQ29sbGVjdGlv
	bl9JRNWPkJGSk8vMzc7aU1BERhJSPvpFE//////////+q8/Q0dLT1NXW19jZXxAgMDIy
	ODAwRkJBMDE0QkVFM0MxMzM5ODg3Q0E3NEYzNURfECA3NjE1NDYwNjA4QjhCQ0JCRUNC
	MjNBRTJFREQxNjIxMF8QIDk4OTg5NTU3Q0RGQkQyQjJEMjE1QUZBREQ5MkY0OEY3XxAg
	ODE5REUzNDY1NTZFOTEyRjAyRDhFNzEzRjQ4MjE2MzFfECAxN0I1MjUwODZERDNGNzQz
	MTA0NUIzOEVBRTFBRUE3Rl8QIDdCMTY4QUQ0QUZBQTU5RjM0MjFGNUQ0QjgyQzg1MzQ5
	XxAgOUIzOERCRDk4RDg5N0RBRjdDNjdGQUIwM0UzODYxNzNfECA1REU2ODAxRTk2MTdE
	NTFBMEIxMEYwQTdERDAyNzBBQ18QIEM5QUQzRUJFRjk5ODZENUQ3MDFFRTBBNzk3OEQ1
	OTczXxAgNzc1NDJDQjI0RkM5NEE3OEYzNkMwRDY0MkI5M0VDM0NfECAzQzI2OEE0QjM4
	NTc5NjVFOTE1QTY0NkQ4RjQwRUNBMV8QElBkZnNfQ29sbGVjdGlvbl9JRAAIAA0AEQAn
	ACwANwBPAF4AewCUALEAwADUAPIBBgEVASwBPgFWAWsBiAGTAaUBqgGvAdYB+QIMAg4C
	EAKOAqECvgLDAsgC7wMSAyUDowO2A9MD2APdBAQEJwQ6BLUEyATlBOoE7wUWBTkFTAXK
	Bd0F+gX/BgQGKwZOBmEG3wbyBw8HFAcZB0AHYwd2B/QIBwgkCCkILghVCHgIiwkJCRwJ
	OQk+CUMJagmNCaAKHgoxCk4KUwpYCn8Kogq1CzMLRgtjC2gLbQuUC54LsQuzDJgMqwzI
	DM0M0gz5DRwNLw2tDcAN3Q3iDecODg4xDkQOvw7SDu8O9A75DyAPQw9WD9QP5xAEEAkQ
	DhA1EFgQaxDpEPwRAREGERgRJREnESoRNRE7EVgRYBFtEYIRhxGMEZURyRHTEd0R5xHx
	EfsSBRIPEhkSIxItEjcSQRJLElUSXxJpEnMSfRKHEpESmxKlEq8SuRLDEuYTCRMsE08T
	chOVE7gT2xP+FCEURBRnFIoUrRTQFPMVFhU5FVwVfxWiFcUV6BYLFiEWLBYwFjUWPhZK
	Fm0WkBazFtYW+RccFz8XYheFF6gXywAAAAAAAAIBAAAAAAAAANsAAAAAAAAAAAAAAAAA
	ABfg
	</data>
	<key>iTunes Files</key>
	<dict>
		<key>IC-Info.sidv</key>
		<data>
		AAEAAU1Ab/IIDdORN0ZYhKAl4OEb4QO6Jmu97xZWO5hmJ2vcQ9/lAS2UV/2AaKiOyWJc
		ygaphQ2jxY95PrhcBxOc6YO87P9jSZBs3eb7Cje9iRov4QX9kkapiSiziGEQ8ja09mLo
		M6Ue5x9OjugrQiHZuoTGdAYQkrLW3jPkWR0Uu0LqQTR7aZINrF9x2JJsdsI6NqCmxBPU
		wsK3WYaAMiyEZxc6QNqgAhyJWaoyYsa0BB8o7P9mmgDXvs9TEGrVeCjWLl2hk4Y3FP/c
		5TKuKinbUI+9tk5KXqW+nDx5U8nuC2E6w5fr7pgGtiXk2ROOnxXwuhwLUGufPy/ZSyng
		dokRIMmZHO68ddCRIe0BUmxa5D0Zz+x4KoT2m36imWD+MQwXCM/IrnJiZi8LUBtP/TVW
		92leEwHbZqDJlQxfiNNLcpjGzJOJho0giybKkJX8l0YBErDLtkBwXE26d6pcmGzDvSbU
		+WpBjob4pdy6ART8hxCIwG0Hl0yLoZSPC3tUhP+9oyQzbqgzqv2181UvmnSg01e2VXln
		H8Kt7EILLs05Ji8jEZzTKgmn4rIcyTLaX32d3auiC+zuQ7gQDrqIXRScHJ3iaVMGNxJj
		zXbjq8ePD9nn6ILHd90H+DD6ow/gMdfuGTuvybfuVU2NYhW2feY0vbWgHA2EfgIgKlvI
		71CnIMHQzLSIzLwwicWbNVXH2GT96r8tuTiZLa9tKZZ0un5HQ/f0qUsqrYi4xBzCmzi6
		efYIWyil8ZhSm+PtdeKdHCNU1VErkm2z2eoOZRyG9dU29d6Thy77czDtV20p+30Vq2wH
		4cY9faEUvSlxl7yjY5N7iJL70nWb49OXuvS557E3YszZkDIfGeEShxvZ0IzWHIH+Cr+e
		MBZXnIlRcS68aUxMmpD1eOq2T2Th+d+RfXTmRfkjOnd3jxbZxqdD6NWO0XQaSYUbv1bi
		tGi3PrmeSDEDRIUFj+QZ8y3tsSlPEeQYh70OvQNLf0GouAF9NAGrra0ic7cDHb/16je7
		bfE2LDc3r1NZ0PAf0YjEqTCENRgrqshBvWyDHZy1AhS64mp/1ANE/WFrPbcG3fEZVKKE
		XZ6cAwlmtpGVF4kvh7uPNLMH1d4VA7Dafd06xFIcYBtQEkvMkUebNFljZrerDC7IXv6q
		YN682UtZk2pcz9eL4jJqkRvl3cVPAfcxy5hpv37s08KhNlaqWSMfm5gtULMCt5omQwUF
		2J7EA/E2vQfbxvnTdM4cmR9jO/koFMJMuil7x+RhIewOZ2RiEQltXoED0Wxq/NMErPa/
		If9PttccV3P5+UdZq0Ahmuanx6MWhMpRcElvuLkyojPzSRmsZnYEVQTIXeOSfptGSshR
		NzqlplfFBGyR/wNRy5hhpGMMJvS/p+qNAINZO7gFWFVonQJXY0ceC5m727jIc40SKWGW
		DJm739BUABInK25LiFQzsckIorFAyuz6Zg8UJhZWvEgkhXseXfUiD3xDFpEVpK09eJHu
		EVz6ZXxmTevEkJZHA8fGo0Jn
		</data>
		<key>iTunesPrefs</key>
		<data>
		ZnJwZAEAGAABAQABwj6cYPJFgkVVFZfVuknP6AAAAAAAAAABAAAAAAAAAAAAAAAAAQAA
		AAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAADMsm8ygYu5OQABAAQAAAAAwj6cYPJF
		gkUCAAAAVRWX1bpJz+gAAAAAAAABAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AgAAAAEBAAAAAAAAAAAAAAEAAQABAAEAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAA
		AAAAAMhB3iDYENOAjf9bEPxnZ6975YFcMTJGNjkAAAAAAAAAAAAAAP8AAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAEBAAQAAAAABwAAAAAAAQABAAAAAQEBgAAAAAAAAQAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQWRtaW5pc3RyYXRvcgAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEhTSAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAQWRtaW5pc3RyYXRvcgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEhTSAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABhZG1pbgAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAQURNSU4tUEMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAEFkbWluaXN0cmF0b3IAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABIU0gAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAABhZG1pbgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQURNSU4tUEMAAAAAAAAAAAAAAAAA
		AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAAAAAAAA=
		</data>
		<key>iTunesPrefs.plist</key>
		<data>
		PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPCFET0NUWVBFIHBs
		aXN0IFBVQkxJQyAiLS8vQXBwbGUvL0RURCBQTElTVCAxLjAvL0VOIiAiaHR0cDovL3d3
		dy5hcHBsZS5jb20vRFREcy9Qcm9wZXJ0eUxpc3QtMS4wLmR0ZCI+CjxwbGlzdCB2ZXJz
		aW9uPSIxLjAiPgo8ZGljdD4KCTxrZXk+QXBwbGljYXRpb25JRHM8L2tleT4KCTxhcnJh
		eS8+Cgk8a2V5PkF1ZGlvYm9va1BsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtl
		eT5BdWRpb2Jvb2tUcmFja0lEczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+Qm9va1RyYWNr
		SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5MaWJyYXJ5Qm9va1RyYWNrSURzPC9rZXk+
		Cgk8YXJyYXkvPgoJPGtleT5Nb3ZpZVBsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJ
		PGtleT5Nb3ZpZVRyYWNrSURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY0FsYnVt
		SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY0FydGlzdElEczwva2V5PgoJPGFy
		cmF5Lz4KCTxrZXk+TXVzaWNHZW5yZU5hbWVzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5N
		dXNpY1BsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5NdXNpY1RyYWNrSURz
		PC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5Qb2RjYXN0Q2hhbm5lbElEczwva2V5PgoJPGFy
		cmF5Lz4KCTxrZXk+UG9kY2FzdFBsYXlsaXN0SURzPC9rZXk+Cgk8YXJyYXkvPgoJPGtl
		eT5Qb2RjYXN0VHJhY2tJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PlJpbmd0b25lVHJh
		Y2tJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PlRWU2hvd0FsYnVtSURzPC9rZXk+Cgk8
		YXJyYXkvPgoJPGtleT5UVlNob3dOYW1lczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+VFZT
		aG93UGxheWxpc3RJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5PlRWU2hvd1RyYWNrSURz
		PC9rZXk+Cgk8YXJyYXkvPgoJPGtleT5pUG9kUHJlZnM8L2tleT4KCTxkYXRhPgoJWm5K
		d1pBRUFHQUFCQVFBQndqNmNZUEpGZ2tWVkZaZlZ1a25QNkFBQUFBQUFBQUFCQUFBQUFB
		QUFBQUFBQUFBQUFRQUEKCUFBQUNBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQVFB
		QUFBRE1zbTh5Z1l1NU9RQUJBQVFBQUFBQXdqNmNZUEpGCglna1VDQUFBQVZSV1gxYnBK
		eitnQUFBQUFBQUFCQUFBQUFBQUFBQUFCQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QQoJQWdBQUFBRUJBQUFBQUFBQUFBQUFBQUVBQVFBQkFBRUFBQUFBQUFBQUFBQUFBQUlB
		QUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBTWhCM2lEWUVOT0FqZjliRVB4blo2OTc1
		WUZjTVRKR05qa0FBQUFBQUFBQUFBQUFBUDhBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBRUJBQVFBQUFBQUJ3QUFBQUFBQVFBQkFBQUFBUUVCZ0FBQUFBQUFB
		UUFBQUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQVFXUnRhVzVwYzNSeVlYUnZjZ0FBQUFBQUFBQUFBQUFBCglBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUVo
		VFNBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		CglBQUFBQUFBQUFBQUFBQUFBQUFBQVFXUnRhVzVwYzNSeVlYUnZjZ0FBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUVoVFNBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUJoWkcxcGJn
		QUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQVFVUk5TVTR0VUVNQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEKCUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUVGa2JXbHVhWE4wY21GMGIzSUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUJJVTBnQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUEK
		CUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUJoWkcxcGJnQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUEKCUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFRVVJO
		U1U0dFVFTUFBQUFBQUFBQUFBQUFBQUFBCglBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFB
		QUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQQoJQUFBQUFB
		QUFBQUE9Cgk8L2RhdGE+Cgk8a2V5PmlUdW5lc1VDaGFubmVsSURzPC9rZXk+Cgk8YXJy
		YXkvPgoJPGtleT5pVHVuZXNVUGxheWxpc3RJRHM8L2tleT4KCTxhcnJheS8+Cgk8a2V5
		PmlUdW5lc1VUcmFja0lEczwva2V5PgoJPGFycmF5Lz4KCTxrZXk+aVR1bmVzVmVyc2lv
		bjwva2V5PgoJPHN0cmluZz4xMi4xLjE8L3N0cmluZz4KPC9kaWN0Pgo8L3BsaXN0Pgo=
		
		</data>
	</dict>
	<key>iTunes Settings</key>
	<dict>
		<key>DeletedApplications</key>
		<array>
			<string>com.youku.hd</string>
			<string>com.meizi.puzzle-zhiliti</string>
			<string>app.quantis.jigsaw3</string>
		</array>
		<key>RestoreApplications</key>
		<array>
			<string>com.sns.gzsfz</string>
			<string>cn.etouch.ecalendar.ipad</string>
			<string>com.SEI.SEIAudioJingDuYouMeiDuanWen</string>
			<string>com.xntech.pento</string>
			<string>com.netease.news</string>
			<string>com.samountech.artofwar1</string>
			<string>com.g5e.secretsociety</string>
			<string>com.jingling.wuziqi2</string>
			<string>com.littlepipi.FamilyAlbumPro</string>
			<string>com.sourcepower.FBS</string>
			<string>rhinobeetle.GoldenFlowerHDCH</string>
			<string>cn.itools.itools</string>
			<string>com.flipscript.stupidVsFool</string>
			<string>com.tinycom.iphone.BiZhiChuShiJinJi</string>
			<string>com.yufuxu.hhx</string>
			<string>ptpress.com.cn.211002full</string>
			<string>com.theprojectfactory.sherlock.ipad</string>
			<string>com.iscac.snowbroslite</string>
			<string>com.apple.mobileiphoto</string>
			<string>com.sg.popstar</string>
			<string>dianchu.dev03.heikerumen</string>
			<string>com.LinHuan.LetsSpotIt2</string>
			<string>com.playrix.township-ios</string>
			<string>com.vistalstudio.iphone.CunShangChunShu20111020</string>
			<string>com.spsoft.iMagician</string>
			<string>com.mobilicos.howtomakeorigami</string>
			<string>com.moonReader.huobi</string>
			<string>com.kuaiyong.browser</string>
			<string>com.caixin.moshuwubaili</string>
			<string>com.boyaa.ChineseChessHD2</string>
			<string>com.rayark.uproot</string>
			<string>com.tencent.weiyunHD</string>
			<string>com.sharedegg.FruitLinkiPad</string>
			<string>com.leaf.qing</string>
			<string>com.baidu.maphd</string>
			<string>com.funship.smarteye</string>
			<string>com.tangcha.reader.stevejobs</string>
			<string>com.Halfbrick.FruitNinjaHD</string>
			<string>com.tencent.drop</string>
			<string>com.appzhuda.2012BaiBuBiDuXinLiXue</string>
			<string>com.sheephouse.iphone.ZhiMouZongJi</string>
			<string>com.sinoiplay.linkmehd</string>
			<string>com.johntran.PlanetEarth</string>
			<string>com.fingerarts.sudoku2</string>
			<string>com.cnvcs.xiangqi</string>
			<string>com.luobocn.carrotfantasy2</string>
			<string>com.vietlotus.hicalchd</string>
			<string>com.thegamebakers.squids1</string>
			<string>tv.lifechurch.bible</string>
			<string>cn.yizhandaodi.yizhandaodi</string>
			<string>com.mobileformulas.mathformulas</string>
			<string>com.vcread.00000029</string>
			<string>com.jerryjee.SudokuTerminator</string>
			<string>com.nxp.software.xvidplayer</string>
			<string>com.orientalcomics.comicviewer</string>
			<string>com.incpt.mobis.CalculatorInfinite</string>
			<string>com.pockeysoft.upad</string>
			<string>com.technologyzs.huangpaikz</string>
			<string>com.orangenose.hard2.hd</string>
			<string>com.ReadMinds02.ReadMindsipad</string>
			<string>net.hortor.pictoword</string>
			<string>com.autohome.hd</string>
			<string>com.sina.weibohd</string>
			<string>com.lxd.ashnrpaid</string>
			<string>com.kubisoft.goChess.deadOrLive.basic800</string>
			<string>com.deer.universal.findit2</string>
			<string>com.sohu.SohuVideo</string>
			<string>com.cnvcs.gomoku</string>
			<string>com.orayk.xinlixue</string>
			<string>com.t2125714716.tests</string>
			<string>com.starriver.crazyguess</string>
			<string>com.wangjing.bafeite</string>
			<string>com.kineticbytes.poolbreak</string>
			<string>com.sina.sinalectureHD</string>
			<string>com.rovio.angrybirdsstarwarsii</string>
			<string>com.huayou.magic</string>
			<string>com.aireader.hhx</string>
			<string>com.kamitu.drawsth.standalone.free</string>
			<string>com.sgame.revoludo</string>
			<string>com.pcauto.iPadMag2</string>
			<string>kr.gameday.DoorsandRoomsPLUS</string>
			<string>com.yr.db916822b39362a849069b40a3758993a313247e</string>
			<string>com.tolimei.ManHuaDaQun</string>
			<string>com.littlepanda.fbi</string>
			<string>com.gpwzw.appChineseWordCross4</string>
			<string>youdaoHD</string>
			<string>com.chairmanxi.iphone.GuShenBaFeiTee1</string>
			<string>se.codify.labyrinth</string>
			<string>jp.co.canon.ic.eos.eosremote</string>
			<string>com.yodo1.cuttherope2</string>
			<string>info.peterding.tcipad</string>
			<string>com.starriver.crazyidiomhd</string>
			<string>com.disney.SwampyGame</string>
			<string>com.tencent.game.rhythmmaster</string>
			<string>com.kingsoft.powerwordhd</string>
			<string>com.midasplayer.apps.candycrushsaga</string>
			<string>com.fenghuang.AppBook</string>
			<string>com.twolivesleft.Codify</string>
			<string>com.cronlygames.chschess.ipad</string>
			<string>com.disney.frozensagachina</string>
			<string>com.visionobjects.myscriptcalculator</string>
			<string>Kugou.kugouHD</string>
			<string>com.Ifeng.mercury</string>
			<string>com.tongbu.tuihd</string>
			<string>com.transylvania.svmfree</string>
			<string>com.appjourney.wanyong</string>
			<string>com.livezen.awg</string>
			<string>com.orayk.PhoneticSymbols</string>
			<string>com.bigfishgames.awakenedipadfree</string>
			<string>com.cocoentertainment.jinjidexiaoguaiwu</string>
			<string>com.duellogames.islashhd</string>
			<string>com.playmous.godoflight</string>
			<string>com.ku6.coolDogs</string>
			<string>com.sg.ludo</string>
			<string>com.dodur2.universal.bubble.free</string>
			<string>fieldrunners2.ipad</string>
			<string>com.fugaauto.huobizhanzheng</string>
		</array>
	</dict>
	<key>iTunes Version</key>
	<string>10.0.1</string>
</dict>
</plist>
